
body{
    text-align:center;
    font-family: 'Comic Sans MS';
    background-image: url(https://preview.redd.it/phone-wallpaper-kcd2-v0-2ifal6ofl3ke1.png?width=1080&crop=smart&auto=webp&s=acfb5a0a346153c66243813719fb03c799ea297b);
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: 100% 100%;
    
}
hr{
    border-color:gold;
    height: 3px;
    background-color: gold;
    width: 70%;

}
h2{
    margin-left: -43%;
    font-size: 20px;
}
.first{
    margin-top: 50px;
}
.paragarph{
    width: 35%;
}
#apu{
    width: 35%;
    margin-top: 25px;
    height: 17%;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.second{
    font-size: 20px;
    margin-left: 43%;
}
.video{
    width: 80%;
    height: 720px;
    margin-top: 50px;
    margin-left: 0%;
    margin-bottom: 20px;
}
.webpage{
    margin-top: 30px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    background: rgb(0, 0, 50);
    color:gold;
    margin-bottom: 30px;
    border: 5px solid gold;
    border-radius: 15%;
}